/*
 * Copyright (c) 2025 Tenstorrent Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f407Xe.dtsi>
#include <st/f4/stm32f407v(e-g)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "SiFive HiFive Premier P550 MCU";
	compatible = "sifive,hifive-premier-p550-mcu";

	chosen {
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,ccm = &ccm0;
	};

	leds {
		compatible = "gpio-leds";

		blue_led: led0 {
			gpios = <&gpioe 13 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};

		green_led: led1 {
			gpios = <&gpioe 11 GPIO_ACTIVE_HIGH>;
			label = "Green LED";
		};

		red_led: led2 {
			gpios = <&gpioe 9 GPIO_ACTIVE_HIGH>;
			label = "Red LED";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		user_button_recovery: K_REC {
			gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;
		};

		boot1: boot1 {
			gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
			label = "BOOT1";
		};

		dcen: dcen {
			gpios = <&gpiod 4 GPIO_ACTIVE_HIGH>;
			label = "DCEN";
		};
		atxpson: atxpson {
			gpios = <&gpioe 3 GPIO_ACTIVE_HIGH>;
			label = "ATXPSON";
		};
	};


	aliases {
		led0 = &red_led;
		led1 = &green_led;
		led2 = &blue_led;
		sw0 = &user_button_recovery;
		boot1 = &boot1;
		dcen = &dcen;
		atxpson = &atxpson;
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(25)>;
	status = "okay";
};

&pll {
	div-m = <25>;
	mul-n = <336>;
	div-p = <2>;
	div-q = <7>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(168)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK(APB1, 28)>,
		 <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
};

&mac {
	status = "okay";
	pinctrl-0 = <&eth_rxd0_pc4
		     &eth_rxd1_pc5
		     &eth_ref_clk_pa1
		     &eth_crs_dv_pa7
		     &eth_tx_en_pb11
		     &eth_txd0_pb12
		     &eth_txd1_pb13>;
	pinctrl-names = "default";
	phy-connection-type = "rmii";
	phy-handle = <&eth_phy>;
};

&mdio {
	status = "okay";
	pinctrl-0 = <&eth_mdio_pa2 &eth_mdc_pc1>;
	pinctrl-names = "default";

	eth_phy: ethernet-phy@0 {
		compatible = "ethernet-phy";
		reg = <0x00>;
	};
};
