# SPDX-License-Identifier: Apache-2.0

# Redfish system overview (board-specific)
CONFIG_REDFISH_SYSTEM_PRODUCT_NAME="HiFive Premier P550"
CONFIG_REDFISH_SYSTEM_MANUFACTURER="SiFive"
CONFIG_REDFISH_SYSTEM_MODEL="HiFive Premier P550"
CONFIG_REDFISH_SYSTEM_PROCESSOR_MODEL="SiFive P550"
CONFIG_REDFISH_SYSTEM_PROCESSOR_COUNT=8
CONFIG_REDFISH_SYSTEM_MEMORY_GIB=16

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable UART
CONFIG_SERIAL=y

# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Enable GPIO
CONFIG_GPIO=y

