// hifive premier p550 mcu
/ {
    chosen {
        zephyr,entropy = &rng;
        zephyr,flash-controller = &flash;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
    };

    jtag {
        // What is a better setting for this?
        compatible = "gpio-leds";
        
        // not connected for now
        jtagtck: jtag_tck {
            gpios = <&gpioe  0 GPIO_ACTIVE_HIGH>;
        };
        jtagtms: jtag_tms {
            gpios = <&gpioe  1 GPIO_ACTIVE_HIGH>;
        };
        jtagtdo: jtag_tdo {
            gpios = <&gpioe  2     GPIO_PULL_UP>;
        };
        jtagtdi: jtag_tdi {
            gpios = <&gpioe  4 GPIO_ACTIVE_HIGH>;
        };
    };

    aliases {
        jtagtck = &jtagtck;
        jtagtms = &jtagtms;
        jtagtdi = &jtagtdi;
        jtagtdo = &jtagtdo;

        power-gpio-1 = &dcen;
        power-gpio-2 = &atxpson;
        status-led = &blue_led;
    };

};

&spi4 {
     status = "disabled";
};

&rng {
    status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/*
		 * Sectors 0-3 (4*16 kbytes) + 4 (64 kbytes) + 5 (128 kbytes)
		 * are for the application image.
		 */
		slot0_partition: partition@0 {
			label = "image-0";
			reg = <0x00000000 DT_SIZE_K(256)>;
		};

		/*
		 * Sector 6-7 (2*128 kbyte) are for application persistent storage.
		 */
		storage_partition: partition@40000 {
			label = "storage";
			reg = <0x00040000 DT_SIZE_K(256)>;
		};
	};
};
