// hifive premier p550 mcu
/ {
    jtag {
        // What is a better setting for this?
        compatible = "gpio-leds";
        
        // not connected for now
        jtagtck: jtag_tck {
            gpios = <&gpioe  0 GPIO_ACTIVE_HIGH>;
        };
        jtagtms: jtag_tms {
            gpios = <&gpioe  1 GPIO_ACTIVE_HIGH>;
        };
        jtagtdo: jtag_tdo {
            gpios = <&gpioe  2     GPIO_PULL_UP>;
        };
        jtagtdi: jtag_tdi {
            gpios = <&gpioe  4 GPIO_ACTIVE_HIGH>;
        };
    };

    aliases {
        jtagtck = &jtagtck;
        jtagtms = &jtagtms;
        jtagtdi = &jtagtdi;
        jtagtdo = &jtagtdo;

        power-gpio-1 = &dcen;
        power-gpio-2 = &atxpson;
        status-led = &blue_led;
    };

};

&spi4 {
     status = "disabled";
};

&rng {
    status = "okay";
};
