/delete-node/ &quadspi_memory;

// Nucleo F767ZI
/ {
    jtag {
        // What is a better setting for this?
        compatible = "gpio-leds";

        jtagtck: jtag_tck {
            gpios = <&gpioe  2 GPIO_ACTIVE_HIGH>;
        };
        jtagtms: jtag_tms {
            gpios = <&gpioe  3 GPIO_ACTIVE_HIGH>;
        };
        jtagtdo: jtag_tdo {
            gpios = <&gpioe  5     GPIO_PULL_UP>;
        };
        jtagtdi: jtag_tdi {
            gpios = <&gpioe  6 GPIO_ACTIVE_HIGH>;
        };
    };

    aliases {
        jtagtck = &jtagtck;
        jtagtms = &jtagtms;
        jtagtdi = &jtagtdi;
        jtagtdo = &jtagtdo;

        power-gpio-1 = &green_led;
        reset-gpio = &red_led;
        status-led = &blue_led;

        reset-button = &user_button;
    };

    // XXX: Unclear whether this is required since we specify a bunch of these
    // attributes in code when mounting.
    fstab {
        compatible = "zephyr,fstab";
        lfs1: lfs1 {
            compatible = "zephyr,fstab,littlefs";
            mount-point = "/lfs";
            partition = <&storage_partition>;
            read-size = <16>;
            prog-size = <16>;
            cache-size = <64>;
            lookahead-size = <32>;
            block-cycles = <512>;
        };
    };
};

&spi4 {
     status = "disabled";
};

/*
 * The board overlays are designed for MCUBOOT bootloader, because they put
 * the app image at != 0 address, which is not supported for a direct loaded
 * image. So create our own.
 *
 * We probably should use MCUBOOT, it can handle two images and allows use
 * to use the first few small blocks for app storage which is more efficient
 * use of space and will have better write amp properties with more erase
 * blocks.
 *
 * But just get something working for now.
 */
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &scratch_partition;
/delete-node/ &storage_partition;

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/*
		 * Sectors 0-3 (4*32 kbytes) + 4 (128 kbytes) + 5-7 (3*256 kbytes)
		 * are for the application image.
		 */
		slot0_partition: partition@0 {
			label = "image-0";
			reg = <0x00000000 DT_SIZE_K(1024)>;
		};

		/*
		 * Sector 8-10 (3*256 kbyte) are for application persistent storage.
		 */
		storage_partition: partition@100000 {
			label = "storage";
			reg = <0x00100000 DT_SIZE_K(768)>;
		};
	};
};
