/delete-node/ &quadspi_memory;

// Nucleo F767ZI
/ {
    jtag {
        // What is a better setting for this?
        compatible = "gpio-leds";

        jtagtck: jtag_tck {
            gpios = <&gpioe  2 GPIO_ACTIVE_HIGH>;
        };
        jtagtms: jtag_tms {
            gpios = <&gpioe  3 GPIO_ACTIVE_HIGH>;
        };
        jtagtdo: jtag_tdo {
            gpios = <&gpioe  5     GPIO_PULL_UP>;
        };
        jtagtdi: jtag_tdi {
            gpios = <&gpioe  6 GPIO_ACTIVE_HIGH>;
        };
    };

    aliases {
        jtagtck = &jtagtck;
        jtagtms = &jtagtms;
        jtagtdi = &jtagtdi;
        jtagtdo = &jtagtdo;

        power-gpio-1 = &green_led;
        reset-gpio = &red_led;
        status-led = &blue_led;

        reset-button = &user_button;
    };

    // XXX: Unclear whether this is required since we specify a bunch of these
    // attributes in code when mounting.
    fstab {
        compatible = "zephyr,fstab";
        lfs1: lfs1 {
            compatible = "zephyr,fstab,littlefs";
            mount-point = "/lfs";
            partition = <&slot0_partition>;
            read-size = <16>;
            prog-size = <16>;
            cache-size = <64>;
            lookahead-size = <32>;
            block-cycles = <512>;
        };
    };
};

&spi4 {
     status = "disabled";
};
